body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#cabecalho {
    background-color: red;
    border: 3px solid purple;
    padding-bottom: 10px;
    text-align: center;
    
}

#conteudo-principal{
    background-color: green;
}

#barra-lateral{
    background-color: blue;
}

#rodape{
    background-color: yellow;
    text-align: center;
}